extends board-layout

block content
  nav(class='navbar navbar-default board-navbar')
    div(class='container-fluid')
      span(class='nav navbar-right add-issue')
        a(class='btn btn-default add-issue-button' href='#{newIssue}')
          i(class='fa fa-plus fa-lg')
            
  div(class='container-fluid')
    div(class='row heading-row')
      each val, key in issues
        div(class='col-md-3 board-columns' id='#{key}-column')
          div(class='panel board-panel panel-default')
            div(class='panel-heading board-panel-heading') #{key}
            div(class='panel-body board-panel-body')
              ul(class='list-group issue-list-group' data-label='#{key}')
                each v in val
                  li(class='list-group-item issue-list-item' data-issue-number='#{v.issue_number}')
                    a(href='#{v.url}') 
                      div(class='issue-text col-xs-8') #{v.title}
                    div(class='issue-assignee col-xs-4 pull-right')
                      if v.assignee
                        span(class='pull-right')
                          img(src='#{v.assignee.avatar_url}&s=50' class='img-circle avatar')
                            
