extends board-layout

block card
  if i.assignee
    div(class='issue-text col-xs-8')
      a(href='#{i.url}' target='_blank') #{i.title}
    div(class='issue-assignee col-xs-4 pull-right')
      span(class='pull-right')
        img(src='#{i.assignee.avatar_url}&s=35' class='img-circle avatar')
  else
    div(class='issue-text col-xs-12')
      a(href='#{i.url}' target='_blank') #{i.title}

block done-bucket
  li(class='list-group-item done-bucket' draggable='false')
    div(class='bucket')
      span(class='badge #{dash(key)}-done-badge') #{v.length}

block content
  - // Replace all spaces with a `-` when naming classes
  - var dash = function(text) {
  -  return text.replace(/ /g, '-');
  -}

  - // Check for blocked issues
  - var blocked = function (issue) {
  -  for(var i = 0; i < issue.label.length; i++) {
  -    if (issue.label[i].name == 'blocked') {
  -      return true;
  -    }
  -  }
  - }

  nav(class='navbar navbar-default navbar-fixed-top board-navbar')
    div(class='container-fluid retrospective-container')
      div(class='notifications col-md-12')
      if retrospectiveReminders.length > 0
        div(class='retrospective-bar col-md-12')
          | Retro reminders:&nbsp;
          each reminder in retrospectiveReminders
            | #{reminder}&nbsp;&bull;&nbsp;
      div(class='container-fluid heading-container')
        each col in columns
          div(class='col-md-3 heading-column') #{col}

  each val, key in issues
    div(class='container-fluid')
      div(class='row heading-row')
        div(class='milestone-heading')
          p(class='milestone-heading-text')
            if key !== 'uncategorized'
              a(class='milestone-link' href='#{repoURL}/milestones/#{key}' target='_blank') #{key}
            else
              a(class='milestone-link' href='#{repoURL}/issues?q=is:open+is:issue+no:milestone' target='_blank') #{key}
        each v, k in val
          div(class='col-md-3 board-columns' id='#{dash(key)}-#{k}-column')
            div(class='panel board-panel panel-default')
              div(class='panel-heading board-panel-heading')
              div(class='panel-body board-panel-body')
                ul(class='list-group issue-list-group #{dash(key)}-#{k}-list-group' data-limit='#{wipLimits[k]}' data-count=v.length data-label='#{k}' data-milestone='#{key}')
                  if (k == 'done')
                    block done-bucket
                  each i in v
                    if blocked(i)
                      li(class='list-group-item issue-list-item issue-list-item-#{k}' data-updated='#{i.updatedAt}' data-blocked='true' data-issue-number='#{i.issueNumber}' id='#{k}-#{i.issueNumber}')
                        block card
                    else
                      li(class='list-group-item issue-list-item issue-list-item-#{k}' data-updated='#{i.updatedAt}' data-issue-number='#{i.issueNumber}' id='#{k}-#{i.issueNumber}')
                        block card

  script.
    var pusherKey = '#{pusherKey}';
