extends board-layout

block content
  - var dash = function(text) {
  -  return text.replace(/ /g, '-');
  -}

  nav(class='navbar navbar-default navbar-fixed-top board-navbar')
    div(class='container-fluid heading-container')
      each col in columns
        div(class='col-md-3 heading-column') #{col}

  each val, key in issues
    div(class='container-fluid')
      div(class='row heading-row')
        div(class='milestone-heading')
          p(class='milestone-heading-text') #{key}
        each v, k in val
          div(class='col-md-3 board-columns' id='#{key}-#{k}-column')
            div(class='panel board-panel panel-default')
              div(class='panel-heading board-panel-heading')
              div(class='panel-body board-panel-body')
                ul(class='list-group issue-list-group #{dash(key)}-#{k}-list-group' data-label='#{k}' data-milestone='#{key}')
                  each i in v
                    li(class='list-group-item issue-list-item' data-created='#{i.createdAt}' data-issue-number='#{i.issueNumber}' id='#{k}-#{i.issueNumber}')
                      if i.assignee
                        div(class='issue-text col-xs-8')
                          a(href='#{i.url}' target='_blank') #{i.title}
                        div(class='issue-assignee col-xs-4 pull-right')
                          span(class='pull-right')
                            img(src='#{i.assignee.avatar_url}&s=40' class='img-circle avatar')
                      else
                        div(class='issue-text col-xs-12')
                          a(href='#{i.url}' target='_blank') #{i.title}

  script.
    var pusherKey = '#{pusherKey}';
    var newIssueUrl = '#{newIssueUrl}';
