extends board-layout

block content
  nav(class='navbar navbar-default navbar-fixed-top board-navbar')
    div(class='container-fluid heading-container')
      each col in columns
        div(class='col-md-3 heading-column') #{col}
            
  each val, key in issues
    div(class='container-fluid')
      div(class='row heading-row')
        div(class='milestone-heading') 
          p(class='milestone-heading-text') #{key}
        each v, k in val
          div(class='col-md-3 board-columns' id='#{key}-#{k}-column')
            div(class='panel board-panel panel-default')
              div(class='panel-heading board-panel-heading')
              div(class='panel-body board-panel-body')
                ul(class='list-group issue-list-group #{key}-#{k}-list-group' data-label='#{k}' data-milestone='#{key}')
                  each i in v
                    li(class='list-group-item issue-list-item' data-issue-number='#{i.issue_number}' id='#{k}-#{i.issue_number}')
                      a(href='#{i.url}') 
                        div(class='issue-text col-xs-8') #{i.title}
                      div(class='issue-assignee col-xs-4 pull-right')
                        if i.assignee
                          span(class='pull-right')
                            img(src='#{i.assignee.avatar_url}&s=50' class='img-circle avatar')
                      
  script.
    var pusherKey = '#{pusherKey}';                    
